.vbox-style {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 5px;
}

.label-settings {
    -fx-padding: 5px, 0px, 5px, 0px;
    -fx-text-fill: grey;
    -fx-font-size: 14pt;
}

.error-label-settings {
    -fx-padding: 50px, 0px, 25px, 0px;
    -fx-text-fill: red;
    -fx-font-size: 10pt;
    -fx-max-width: 300px;
}

.field-settings {
    -fx-text-fill: grey;
    -fx-font-size: 12pt;
    -fx-border-color: grey;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 3px;
}

.highlight-field {
    -fx-border-color: red;
    -fx-prompt-text-fill: red;
}

.profile-box {
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.profile-image:hover {
    -fx-opacity: 0.85;
}

.profile-button{
    -fx-background-color: #A9A9A9;
    -fx-pref-height: 60px;
    -fx-pref-width: 200px;
    -fx-text-fill: white;
}

.profile-button:hover {
    -fx-background-color: #BABABA;
    -fx-scale-x: 1.1;
}

.profile-hbox {
    -fx-pref-height: 200px;
    -fx-padding: 20px;
}

.profile-label {
    -fx-text-fill: grey;
    -fx-padding: 5px, 0px, 5px, 0px;
    -fx-font-size: 13pt;
}

.logout {
    -fx-translate-y: 10;
}
